body{
	font-size:14px;
	font-family:'Gungsuh';
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	background-image: url('img/renji.jpg');
	background-size:cover;
}

.button{
	padding:20px 220px;
}
