

.center {
  position: absolute;
  width:400px;
  height:500px;
  left: 5%;
  top: 20%;
}




.navi{
position:absolute;
top:20%;
width:auto;
left: 45%;
}



.cart{
position:absolute;
right:10px;
width:250px;
height:auto;
background-color:#adff2f;
font-color:black;
top:100px;
text-align:center;
border:groove;
}

}




.navibox{
position:relative;
top:40%;
font:ÉÅÉCÉäÉI;
font-weight:bold;

text-align:center;
width:220px;
height:50px;
background-color:#00ffff;

margin:5px;
font-size:14px;
color:black;
line-height:30px;
border:groove;
}



.cartbox{
position:absolute;
text-align:center;
}




.relative{
	potion:relative;
	width:100%;

}

.absolute{
	position:absolute;

}



.clear{
	clear:both;

}

.info{
position:absolute;
left:10px;
bottom:30px;
text-align:center;
width:30%;
height:270px;
font-size:14px;
background-color:white;
border:groove;
}

.price{
	color:#ff0000;
	font-size:18px;
	font-weight:bold;

}




