

.center {
position: absolute;
width:350px;
height:500px;
left: 5%;
top: 20%;
}


.navi{
position:absolute;
top:20%;
width:200px;
height:200px;
left: 40%;
}


.cart{
position:absolute;
top:20%;
width:200px;
height:200px;
left: 60%;
}


.info{
position:absolute;
top:50%;
width:200px;
height:300px;
left:40%;
}


h1{
padding-bottom: .5em;
border-bottom: 3px solid #ccc;
  }

h3{
padding-bottom: .5em;
border-bottom: 3px solid #ccc;}


h2{color:red;}
