



h1{
	font-size: 25px;
	color: #ffa500;
}






form#form2 {
	color: #666;
	padding: 7px;
	margin-bottom: 15px;
	border: 3px solid #EEE9ED;

	border-radius: 15px;
	width:800px;
}





form#form2 p {
margin:7px 0 0;
	padding:10px;
	font-size: 13px;
	background: #EEE9ED;

border-radius: 8px;
width:700px;
}




form#form2 p:first-child{
	margin:0;
}




form#form2 p span {
	width: 20em;
	margin:0px;
display:block;
	float:left;
}





form#form2 p:after {
content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}





form#form2 p select {

	width:170px;
}


form#form2 p span.check: after,  {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}


form#form2 box1 {
	margin-right: 200px;
}


form#form2 box2 {
	margin-right: 200px;
}


form#form2 box3 {
	margin-right: 250px;
}


form#form2 box4 {
	margin-right: 600px;
}


form#form2 box5 {
	margin-right: 200px;
}


form#form2 box6 {
	margin-right: 1000px;
}

form#form2 box7 {
	margin-right: 200px;
}

form#form2 box8 {
	margin-right: 210px;
}







