@CHARSET "UTF-8";

h1{
color:#ff0000;

}

body{

	float:center;
	line-height: 1.5;
	color: #000000;
	background: #c0c0c0;

	}

#login {
	background: #ffffff;
	width: 500px;
	text-align:center;
	border: 5px solid #999999;

}

em{
font-family: 'Impact','メイリオ', Meiryo,'Phosphate-Solid','Wawati SC','Party LET','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;

}

.loginButton {

	width: 100px;
	margin-bottom:10px;
	padding:5px;
	font-size:100%;
	font-family: 'Impact','メイリオ', Meiryo,'Phosphate-Solid','Wawati SC','Party LET','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	color: #000000;

}

.textBox {

	font-size: 300%;
	width: 255px;
	padding: 1px;
	border: 1px solid #bbbbbb;
}

