@CHARSET "UTF-8";

* {-webkit-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box
  }


body{
	width:100%;
	float:center;
	line-height: 1.5;
	color: #000000;
	background: #ffffff;

	}

#login {
	margin: 30px auto;
	padding:50px;
	background: #ffffff;
	width: 400px;
	height: 400px;
	text-align: center;
	border: 5px solid #c0c0c0;

}


.loginbutton {

	width: 100px;
	margin-bottom:10px;
	padding:5px;
	font-size:100%;
	font-family: 'メイリオ',sans-serif;
	border: 3px solid  #ff80ff;

}

.textBox {

	font-size: 300%;
	width: 255px;
	padding: 1px;
	border: 1px solid #999999;
}


em{
font-family: 'メイリオ',sans-serif;

}

h1{
color:#000000;

}
