body{
	width: 100%;
	background-image: url('../img/renji3.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	font-family:'Gungsuh';
	font-size:18px;
	font-family:'Gungsuh';
}
a{
	color: #000000;
}
p a:hover{
	color:red;
}